In [2]:
#File location
pwd()

'C:\\Users\\Jaideep Singh\\Desktop\\Neuron'

In [2]:
lst =[1,3,4,6,7,8,9,2,3,4,5]

even=0
odd= 0
for i in lst:
    if (i%2 ==0):
        even = even + i
    else:
        odd = odd + i
        
print("Sum of Even number =", even)
print("Sum of odd numbers =", odd)

Sum of Even number = 24
Sum of odd numbers = 28

In [2]:
#if and else

lsst =[1,3,4,6,7,8,9,2,3,4,5,11]
sum1 = 0
for i in lsst:
    if i == 2:
        print('We found the number')
        break
    sum1 = sum1 + i
else:    
    print('Not found any number mentioned above')
print(sum1)

We found the number
38

In [30]:
# for condition along with if and break

list = [1,3,4,5,6,2,7,1]
even = 0
odd = 0
for i in list:
    if i%2 ==0:
        even = even + i
        if even > 20:
            break
            
    else:
        odd = odd + i
        if odd > 45:
            break
    
else:
    print('Sum of Odds =', odd)
    print('Sum of evens =', even)

Sum of Odds = 17
Sum of evens = 12

In [23]:
len(range(0,50,5))

10

In [10]:
s = 'Jaideep Singh Kalsi'
s

'Jaideep Singh Kalsi'

In [11]:
s[::-2]

'ilKhnSpeiJ'

In [12]:
s[:3]

'Jai'

In [13]:
s.upper()

'JAIDEEP SINGH KALSI'

In [14]:
s.lower()

'jaideep singh kalsi'

In [15]:
s.split()

['Jaideep', 'Singh', 'Kalsi']

In [16]:
j = 'Hello buddy, wassup'
j

'Hello buddy, wassup'

In [17]:
j.split(sep='buddy')

['Hello ', ', wassup']

In [18]:
s.center(31,'#')

'######Jaideep Singh Kalsi######'

In [25]:
5//2

2

In [3]:
5%2

1

In [6]:
#First name and LAst name

fname = input("Enter your first name please ")
lname = input("Enter your last name please ")
print("Ok your first name is {f1} and last name is {f2}".format(f2=lname, f1=fname))

Enter your first name please Jai
Enter your last name please Deep
Ok your first name is Jai and last name is Deep

In [4]:
a =float(input('Enter first value '))
b =float(input('Enter seconnd one '))
c = a + b
print("\nSum is",c)

Enter first value 36.21
Enter seconnd one 3.14

Sum is 39.35